[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
python-dotenv = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dateutil = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.13"
